<div
  class="flex flex-col justify-center text-center mb-6 p-4 rounded-lg shadow-xl shadow-gray-500 bg-gray-800 hover:mt-0 hover:-mx-8 transition-all duration-200 ease-out"
  [ngClass]="
    expanded === true ? 'min-h-40 hover:min-h-44' : 'min-h-20 hover:min-h-24'
  "
>
  <div
    *ngIf="FormType != 'Create'"
    class="text-white -mt-2 text-right -mx-2 flex justify-end"
  >
    <div class="cursor-pointer mr-3" (click)="clickEdit()">
      <svg
        class="fill-current h-5 w-5"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Edit</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </div>
    <div class="cursor-pointer text-white" (click)="clickDelete()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="22"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="3 6 5 6 21 6"></polyline>
        <path
          d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
        ></path>
        <line x1="10" y1="11" x2="10" y2="17"></line>
        <line x1="14" y1="11" x2="14" y2="17"></line>
      </svg>
    </div>
  </div>
  <div
    class="text-xl font-semibold text-gray-100 cursor-pointer"
    (click)="clickExpanded()"
  >
    <div *ngIf="FormType == 'Default'; else elseTitelBlock">
      {{ Note?.title }}
    </div>
    <ng-template #elseTitelBlock>
      <input
        [formControl]="titleInput"
        type="text"
        placeholder="Title"
        class="bg-transparent text-gray-100 text-center w-full"
      />
      <p
        *ngIf="titleInput.invalid && titleInput.touched"
        class="text-red-500 text-xs italic"
      >
        Please enter a Title!
      </p>
    </ng-template>
  </div>
  <div
    *ngIf="expanded || FormType != 'Default'"
    class="mt-4 text-gray-200 text-justify"
  >
    <div *ngIf="FormType == 'Default'; else elseContentBlock">
      {{ Note?.content }}
    </div>
    <ng-template #elseContentBlock>
      <textarea
        [formControl]="contentInput"
        #myTextArea
        (input)="autoheight()"
        class="w-full bg-transparent"
        placeholder="Content"
      ></textarea>
      <p
        *ngIf="contentInput.invalid && contentInput.touched"
        class="text-red-500 text-xs italic"
      >
        Please enter an Content!
      </p>
    </ng-template>
  </div>
  <div *ngIf="FormType != 'Default'" class="mt-4">
    <app-button
      [disabled]="contentInput.invalid || titleInput.invalid"
      btn_text="Submit"
      btn_style="Default"
      (btnClick)="clickSubmit()"
    ></app-button>
  </div>
</div>
