<footer
  class="p-4 rounded-t-lg shadow-md md:p-6 bg-gray-800 flex mt-auto justify-center"
>
  <ul
    class="flex flex-wrap mt-3 text-sm text-gray-400 sm:mt-0 w-4/5 justify-between"
  >
    <li>
      <a routerLink="/" class="mr-4 hover:underline md:mr-6">Home</a>
    </li>
    <li>
      <a routerLink="/about" class="mr-4 hover:underline md:mr-6">About</a>
    </li>
    <li>
      <a routerLink="/auth/register" class="mr-4 hover:underline md:mr-6"
        >Register</a
      >
    </li>
  </ul>
</footer>
