<div *ngIf="Boards">
  <div class="mt-8 mx-4 flex justify-center">
    <ul
      class="p-6 flex flex-wrap text-sm text-gray-800 rounded-xl shadow-lg border gap-8"
    >
      <li>
        <a
          class="hover:underline cursor-pointer"
          [ngClass]="{ 'font-bold': !currentBoard }"
          (click)="changeBoard(undefined)"
          >Create Board</a
        >
      </li>
      <div *ngFor="let board of Boards">
        <li>
          <a
            class="hover:underline cursor-pointer"
            [ngClass]="{ 'font-bold': board === currentBoard }"
            (click)="changeBoard(board.id)"
            >{{ board.title }}</a
          >
        </li>
      </div>
    </ul>
  </div>
  <app-boards-item
    [Board]="currentBoard"
    (CreateBoardEvent)="CreateBoard($event)"
    (DeleteBoardEvent)="DeleteBoard($event)"
    (MoveJobEvent)="MoveJob($event)"
    (DeleteJobEvent)="DeleteJob($event)"
    (CreateJobEvent)="CreateJob($event)"
  ></app-boards-item>
</div>

<!-- spacing -->
<div class="spacing-block-md"></div>
